# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Docker volumes
mongo_data/
es_data/
minio_data/

# Misc
*.tsbuildinfo
